.normal_padding {
    padding: 15px !important;
}

.smooth-borders {
    border-radius: 14px;
}

.btn {
    border-radius: 14px;
}

input,
select,
option {
    border-radius: 14px;
}

.small-margin {
    margin-top: 10px;
}

.layout-margin {
    margin: 15px;
}

.btn-margin {
    margin-left: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.remove-section :hover .section {
    background-color: rgb(70, 10, 10) !important;
}

.no-padding-margin-left {
    margin-left: 0;
    padding-left: 0;
}

.padding-left {
    padding-left: 15px !important;
}